<!-- File largely sourced from  https://github.com/jkleiber/intro_robotics_ws/blob/project1/src/reactive_robot/launch/reactive_robot_room.launch-->

<launch>
    <!-- Launch our nodes that control the robot. -->
    <node pkg="project1_pkg" type="command_node.py" name="command_node" output="screen"/>
    <node pkg="project1_pkg" type="reactive_node.py" name="reactive_node" output="screen"/>

    <!--
        Define arguments for running the robot
    -->
    <arg name="3d_sensor" value="$(optenv TURTLEBOT_3D_SENSOR kinect)"/>  <!-- kinect, asus_xtion_pro --> 

    <!--     
        Launch the keyboard control node. Leave uncommented when
        debugging as it messes up the screen output.
    -->
    <include file="$(find project1_pkg)/launch/bb_teleop.launch"/>

    <!-- 
        Launch the gmapping SLAM launch file. This handles creating
        a map of the environment.
     -->
    <include file="$(find turtlebot_navigation)/launch/includes/gmapping/$(arg 3d_sensor)_gmapping.launch.xml"/>
</launch>
